body {
    background: rgb(227,148,225);
    background: linear-gradient(212deg, rgba(227,148,225,1) 0%,
     rgba(36,178,237,1) 55%,
     rgba(246,255,27,0.9836309523809523)
     100%);
    font-family: 'Montserrat';
}

.container {
    font-size: 24px;
    text-align: center;
    margin: auto;
    padding: 32px;
    width: 375px;
    height: 743px;
    background: #F2F4F5;
    
}

li {
    list-style-type: none;   
}